@import url("color_palette.css");

body {
    background-color: var(--main-background-color) !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 95vh;
}

.article {
    background-color: var(--article-background-color);
    width: 750px;
    height: 300px;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--shadow-color);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.article-img {
    float: left;
    height: 100%;
    width: 310px;
    object-fit: cover;
    object-position: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.article-text {
    background-color: var(--article-background-color);
    font-size: var(--article-font-size);
    border-radius: inherit;
    padding: 45px;
    padding-top: 35px;
    color: var(--text-color);
}

.article-title {
    font-weight: var(--font-bold-weight);
    font-size: 20px;
}

.article-corpus {
    line-height: 25px;
    margin-top: 15px;
}

.article-author {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    width: 100%;
}

.author-img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author-info {
    margin-left: 10px;
    width: 120px;
}

.author-name {
    font-weight: 700;
}

#share-icon {
    filter: brightness(0) invert(1);
}

#share-button {
    background-color: var(--share-button-background-color);
    border-radius: 50%;
    border-color: var(--share-button-background-color);
    margin-right: 0px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    padding: 2px;
    padding-top: 0px;
    padding-left: 4px;
    outline: none;
    box-shadow: none;
}

.popover {
    background-color: var(--share-component-background-color) !important;
    border-color: var(--share-component-background-color) !important;
    
}

.popover.top>.arrow:after {
    border-top-color: var(--share-component-background-color) !important;
}
.popover-content {
    background-color: var(--share-component-background-color) !important;
    border-color: var(--share-component-background-color) !important;
    color: var(--shadow-color) !important;
    letter-spacing: 5px;
    font-size: 13px !important;
    font-weight: 500;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

@media only screen and (min-width:550px) {
    .mobile-component {
        display: none;
    }

    .share-text {
        display: none;
    }

    #share-component-mobile {
        display: none;
    }

    #share-button-open {
        display: none;
    }
}
